body {
    .navbar-container {
        height: 100%;
        width: 250px;
        min-width: 250px;
        background-color: #16181a;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 50px;
        position: sticky;
        top: 0;
        transition-duration: 0.5s;
        overflow: hidden;

        &.hide {
            &:not(.absolute) {
                min-width: 0;
                width: 0;
            }

            &.absolute {
                transform: translateX(-100%);
            }
        }

        &.absolute {
            position: absolute;
            z-index: 1;
        }
    }

    .player-page-container {
        .btn-toggle-container {
            position: absolute;
            transition-duration: 0.5s;
            padding: 20px;
            animation: in-opacity 2s;

            .btn-toggle {
                padding: 16px;
                min-width: 0;
                height: fit-content;
                display: block;
            }

            &.btn-navbar-toggle-container {
                left: 0;
                top: 0;

                &.follow-navbar {
                    left: 250px;
                }
            }

            &.btn-playlist-toggle-container {
                right: 0;
                top: 0;

                &.follow-navbar {
                    right: 250px;
                }

                svg {
                    height: 40px;
                    fill: white;

                    &.icon-left,
                    &.icon-right {
                        animation: rotate-180 0.5s reverse, btn-scale 0.5s;
                    }
                }
            }
        }
    }
}

@keyframes in-opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes rotate-180 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

@keyframes btn-scale {
    0% {
        scale: 100%;
    }

    50% {
        scale: 125%;
    }

    100% {
        scale: 100%;
    }
}
