body {
    overflow: hidden;

    .bar-container {
        height: 100%;
        width: 250px;
        min-width: 250px;
        background-color: #16181a;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: sticky;
        top: 0;
        transition-duration: 0.5s;
        overflow: hidden;

        &.navbar-container {
            padding-top: 50px;
        }

        &.playlistbar-container {
            position: fixed;
            padding: 20px;
            right: 0;
        }

        &.hide {
            &.playlistbar-container {
                transform: translateX(100%);
            }

            &:not(.absolute) {
                &.navbar-container {
                    min-width: 0;
                    width: 0;
                }
            }

            &.absolute {
                &.navbar-container {
                    transform: translateX(-100%);
                }
            }
        }

        &.absolute {
            position: absolute;
            z-index: 1;
        }
    }

    .player-page-container {
        display: flex;
        padding: 0;
        margin: 0;
        display: flex;
        flex-grow: 1;

        .btn-toggle-container {
            position: absolute;
            transition-duration: 0.5s;
            padding: 20px;
            animation: in-opacity 2s;
            width: 100px;
            height: 100px;
            display: flex;

            .btn-toggle {
                padding: 0;
                min-width: 0;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-grow: 1;
                overflow: visible;
                background: none;
                transition-duration: 0.5s;

                svg.x-icon {
                    fill: white;
                    height: 40px;
                }

                svg {
                    &.x-icon,
                    &.navbar-icon {
                        animation: in-opacity 0.5s;
                    }
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.4);
                    box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.5);
                }
            }

            &.btn-navbar-toggle-container {
                left: 0;
                top: 0;

                &.follow-navbar {
                    left: 250px;
                }
            }

            &.btn-playlist-toggle-container {
                right: 0;
                top: 0;

                &.follow-navbar {
                    right: 250px;
                }

                svg {
                    height: 40px;
                    fill: white;

                    &.icon-left,
                    &.icon-right {
                        animation: rotate-180 0.5s reverse, btn-scale 0.5s;
                    }
                }
            }
        }

        .main-player-content-container {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .top-container {
                background: linear-gradient(
                    153deg,
                    rgba(255, 255, 255, 0.2) 0%,
                    rgba(255, 255, 255, 0) 100%
                );
                padding-top: 40px;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                gap: 20px;
                padding-bottom: 20px;

                .thumbnail-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    object-fit: cover;
                    overflow: hidden;
                    filter: drop-shadow(0 0 30px blue);
                    flex-grow: 1;

                    img {
                        position: absolute;
                    }
                }

                .track-info-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h1 {
                        margin-bottom: 0;
                        font-size: 24px;
                    }

                    p {
                        color: rgba(165, 192, 255, 0.7);
                        font-size: 16px;
                    }
                }
            }

            .player-control-container {
                display: flex;
                flex-direction: column;
                height: 15%;

                progress {
                    width: 100%;
                }

                .control-duration-container {
                    display: flex;
                    position: relative;
                    justify-content: center;
                    align-items: center;
                    flex-grow: 1;

                    .control-container {
                        display: flex;
                        gap: 40px;
                    }

                    .duration-container {
                        position: absolute;
                        right: 5%;
                    }
                }
            }
        }
    }
}

@keyframes in-opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes rotate-180 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

@keyframes btn-scale {
    0% {
        scale: 100%;
    }

    50% {
        scale: 125%;
    }

    100% {
        scale: 100%;
    }
}
