###################################### DIST TEMPLATE #####################################
## Replace the values with your own and rename the file to .docker-compose.override.yml ##
##########################################################################################

version: '3.8'

services:
  postgres-db:
    ports:
      - 5432:5432
  lavalink:
    ports:
      - 2333:2333